* {
    background-color: aliceblue;
    color: rgb(23, 51, 75);
    font-size: 18px;
    font-family: sans-serif;
    font-style: bold;
}


input[placeholder] {
    font-style: italic;
}

button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(206, 206, 206);
    cursor: pointer;
}